<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource=
                     "org/springframework/boot/logging/logback/defaults.xml" />
    <include resource=
                     "org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(%date) %highlight(%-5level) from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>